@tailwind base;
@tailwind components;
@tailwind utilities;

/* 自定義樣式 */
:root {
  --primary-color: #2B74C6;
}

/* 針對 75 吋觸控螢幕優化的按鈕樣式 */
.common-button-outline {
  /* 使用 rem 單位以便於縮放，並增大尺寸以適應大螢幕觸控 */
  @apply min-w-[150px] h-[60px] text-[20px] font-[500] border-2 border-[#2B74C6] text-[#2B74C6] rounded-[24px];
}

.container {
  @apply w-full h-full relative max-w-full;
}

.world-img {
  @apply w-[1531px] h-[806px] fixed top-[98px] left-[76px] z-[2];
}

.map-img {
  @apply w-[1531px] h-[806px] fixed top-[98px] left-[76px] z-[2];
}

.right-menu {
  @apply bg-white fixed right-0 bottom-[260px] p-[10px] pr-0 z-[3];
  box-shadow: 2px 0px 8px 0px #00000066;
  border-radius: 32px 0 0 32px;
}

.right-menu .menu-inside {
  @apply bg-[#D8E6F2] flex flex-col gap-[32px] w-[200px];
  padding: 40px 25px;
  border-radius: 32px 0 0 32px;
}

.right-menu .menu-item {
  @apply w-[150px] h-[60px] border-[2px] flex items-center justify-center relative bg-white border-[#2B74C6] rounded-[24px] text-[#2B74C6] font-[700];
}

.menu-item.yellow {
  @apply border-[#000000] text-[#000000] border-[4px] bg-[#FFC936];
}

.menu-item.blue {
  @apply border-white text-white border-[4px] bg-[#2B92C6];
}

/* 選中狀態樣式 */
.menu-item-selected {
  @apply !bg-[#2B74C6] !text-white !border-white;
}

.search-button {
  @apply bg-[#F0F8FF] w-[160px] fixed z-[3] right-[30px] bottom-[54px] h-[180px] text-[24px] font-[700] text-[#2B74C6] flex flex-col items-center justify-center;
  box-shadow: 2px 0px 8px 0px #00000066;
  border-radius: 16px;
}

.menu-group {
  @apply flex flex-col gap-[32px] bg-white p-[15px];
  box-shadow: -4px 0px 10px 0px #00000040;
  border-radius: 32px 0 0 32px;

}


.filter-right-menu {
  @apply bg-white fixed right-0 bottom-[240px] p-[10px] pr-0 z-[3];
  box-shadow: 2px 0px 8px 0px #00000066;
  border-radius: 32px 0 0 32px;
}

.filter-right-menu .home-button {
  @apply absolute top-[-22px] right-[33px] w-[113px] h-[60px] border-[4px] flex items-center justify-center bg-[#FFC936] border-[#000] rounded-[24px] text-[#000] text-[24px] font-[700];
}

.filter-right-menu .menu-inside {
  @apply bg-[#D8E6F2] flex flex-col gap-[16px] w-[664px] min-h-[440px];
  padding: 16px 24px;
  border-radius: 32px 0 0 32px;
}

.filter-box {
  @apply flex flex-col gap-[16px];

  .filter-title {
    @apply h-[38px] text-[32px] font-[700] text-black flex items-center justify-start gap-[10px];

    span {
      @apply text-[#2B74C6] text-[20px] border-b-[1px] border-[#2B74C6] leading-[22px] cursor-pointer;
    }
  }

  .filter-list {
    @apply flex flex-wrap gap-[12px];

    .filter-item {
      @apply h-[43px] px-[10px] min-w-[90px] flex items-center justify-center relative bg-white rounded-full text-[#000000] font-[500] cursor-pointer transition-all;
      box-shadow: inset 0 0 0 2px #EAEAEA;

      &.disabled {
        @apply bg-[#EAEAEA] text-[#B3B3B3] cursor-not-allowed;
      }

      &.selected {
        @apply bg-[#FFC936] font-[500];
        box-shadow: inset 0 0 0 2px #000;
      }
    }


  }

  .region-list {
    @apply grid grid-cols-3 gap-[8px];

    .region-item {
      @apply h-[54px] px-[10px] flex items-center justify-between relative bg-white rounded-[8px] text-[#000000] transition-all;
      box-shadow: inset 0 0 0 2px #EAEAEA;

      &.selected {
        @apply bg-[#FFC936] font-[700];
        box-shadow: inset 0 0 0 2px #000;
      }

      &.disabled {
        @apply bg-[#E6E6E6] text-[#B3B3B3] cursor-not-allowed;
      }
    }
  }
}